<div class="container" style="margin-top: 10px;">
	<div class="row justify-content-start">
		<div class="col">
			<xng-breadcrumb></xng-breadcrumb>
		</div>
	</div>
</div>
<div class="container" style="margin-top: 100px;">
	<h5 class="text-center" style="margin-bottom: 30px;">Reset Password</h5>
	<div class="col-md-12">
		<form
		*ngIf="!passwordReseted"
		name="form"
		(ngSubmit)="f.form.valid && onSubmit()"
		#f="ngForm"
		>
			<div class="form-group">
				<input
				type="text"
				class="form-control"
				name="username"
				placeholder="Username"
				[(ngModel)]="form.username"
				required
				#username="ngModel"
				/>
				<p *ngIf="username.invalid" style="color: red; font-style: italic;">
					Username is required.
				</p>
			</div>
			<div class="row justify-content-between">
				<div class="col-4">
					<a [routerLink]="['/signin']" >Back to Login</a>
				</div>
				<div class="col-4">
					<div class="form-group">
						<button class="btn btn-danger btn-block" [disabled]="!f.form.valid">
						Reset Password
						</button>
					</div>
				</div>
			</div>
		</form>	
		<div *ngIf="passwordReseted">
			<div class="alert alert-warning">
				Temporary password has been sent to your email.
			</div>
			<a [routerLink]="['/signin']" >Back to Login</a>
		</div>
	</div>
</div>
