<xng-breadcrumb></xng-breadcrumb>
<h5 class="text" style="margin-bottom: 20px;">Change Password</h5>
<hr>
<div class="col-6">
	<form
	name="form"
	*ngIf="!passwordChanged"
	(ngSubmit)="f.form.valid && onSubmit()"
	#f="ngForm"
	>
		<div class="form-group">
			<label for="currentPassword">Current Password</label>
			<input
			type="password"
			class="form-control"
			name="currentPassword"
			[(ngModel)]="form.currentPassword"
			required
			#currentPassword="ngModel"
			/>
			<p *ngIf="currentPassword.invalid" style="color: red; font-style: italic;">
				Current Password is required.
			</p>
		</div>
		<div class="form-group">
			<label for="newPassword">New Password</label>
			<input
			type="password"
			class="form-control"
			name="newPassword"
			[(ngModel)]="form.newPassword"
			required
			#newPassword="ngModel"
			/>
			<p *ngIf="newPassword.invalid" style="color: red; font-style: italic;">
				New Password is required.
			</p>
		</div>
		<div class="form-group">
			<label for="confirmPassword">Comfirm New Password</label>
			<input
			type="password"
			class="form-control"
			name="confirmPassword"
			[(ngModel)]="form.confirmPassword"
			required
			#confirmPassword="ngModel"
			/>
			<p *ngIf="confirmPassword.invalid" style="color: red; font-style: italic;">
				Please confirm new password.
			</p>
			<p *ngIf="confirmPassword.valid && form.confirmPassword !== form.newPassword" style="color: red; font-style: italic;">
				Confirm password is not same.
			</p>
		</div>
		<hr>
		<div class="form-group">
			<button class="btn btn-primary" [disabled]="!f.form.valid || form.confirmPassword !== form.newPassword">
			Change Password
			</button>
		</div>
	</form>
	<div *ngIf="passwordChanged">
		<div class="alert alert-success">
			Successfully changed your password.
		</div>
		<a [routerLink]="['/profile']" >Back to Profile</a>
	</div>
</div>
